.father {
    /* flex container */
    display: flex;
    /* flex-direction: column; */
    /* Main Axis */
    justify-content: space-around;
    /* Cross Axis */
    /* align-items: stretch; */
    /* Corss Aixs modify lines betwen elements default is space-around */
    /* align-content: space-between; */
    height: 100vh;
    width: 100%;
    /* wrap keeps children's size, nowrap(defualt) keeps children are on a row */
    flex-wrap: nowrap;
}

.child {
    /* initial size of elements before they grows or shirinks */
    flex-basis: 30%;
    /* width: 200px; */
    height: 200px;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2){
    background: #000;
    /* flex-grow default is 0 */
    /* flex-grow: 1; */
    /* flex-shirink default is 1 */
    /* flex-shrink: 2; */
    /* defualt order is 0 */
    /* order: 1; */
    /* Cross Axis, same with align-times but it is only for one element*/
    /* align-self: center; */
}

/* .child:nth-child(3){
    align-self: flex-end;
} */