@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caladea:400&display=swap");
@import "_variables";
@import "_titles";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @extend %miniTitle;
}

body {
  font-family: "Caladea";
  padding-top: 75px;
  & > *:not(.footer) {
    padding: 0px 140px;
  }
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    @extend %miniTitle;
    cursor: pointer;
    ul {
      display: flex;
      li {
        cursor: pointer;
        transition: opacity 0.1s linear;
        &:hover {
          opacity: 0.3;
        }
      }
      &:first-child {
        li {
          margin-right: 40px;
        }
      }
    }
  }
}

.hero {
  //   width: 100%;
  height: 100vh;
  background-image: 
        // linear-gradient(rgba(255, 251, 251, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1534944845791-f9e35a201bf8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px $sideSpace;
  margin-top: 30px;
  margin-bottom: 80px;
  background-color: rgba(128, 149, 149, 0.8);
  background-blend-mode: lighten;
  h4 {
    @extend %miniTitle;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 50px;
    width: 40%;
    text-align: center;
    margin-bottom: 50px;
  }
  a {
    width: 20%;
    background-color: none;
    border: 1px solid #000;
    padding: 20px 0px;
    color: black;
    font-weight: 400;
    transition: color 0.2s linear, background 0.2s linear;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.under-hero {
  height: 80vh;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  justify-content: stretch;
  img {
    width: 50%;
  }
  .under-hero__content {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        @extend %miniTitle;
        text-transform: uppercase;
        margin-bottom: 40px;
      }
      h3 {
        font-size: 30px;
        width: 60%;
        text-align: center;
        line-height: 30px;
        margin-bottom: 50px;
        opacity: 70%;
      }
      a {
        width: 30%;
        background-color: none;
        border: 1px solid #000;
        padding: 20px 0px;
        color: black;
        font-weight: 400;
        transition: color 0.2s linear, background 0.2s linear;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.blog {
  width: 100%;
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  .blog__post {
    background-color: $bg;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    &:nth-child(even) {
      img {
        order: 1;
      }
    }
  }
  img {
    width: 100%;
  }
  .post__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .post__date {
      @extend %miniTitle;
      margin-bottom: 40px;
    }
    h4 {
      font-size: 30px;
      width: 70%;
      text-align: center;
      line-height: 30px;
      margin-bottom: 50px;
      opacity: 70%;
    }
    a {
      width: 30%;
      background-color: none;
      padding: 20px 0px;
      color: black;
      font-weight: 400;
      // transition: color 0.2s linear, background 0.2s linear;
      // &:hover {
      //   background-color: black;
      //   color: white;
      // }
    }
  }
}

.gallery {
  width: 100%;
  margin-bottom: 80px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  .gallery__post {
  }
  img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s linear;
    &:hover {
      opacity: 0.5;
    }
  }
}

.contact {
    margin-top: 110px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact__text {
        font-size: 37px;
        opacity: 0.6;
    }
}

footer {
  margin-top: 110px;
  background-color: $bg;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 60px 60px;
  .footer__column {
    display: flex;
    flex-direction: column;
    //   justify-content: center;
    align-items: center;
    @extend %miniTitle;
    text-transform: uppercase;
    .column__title {
      margin-bottom: 40px;
      opacity: 0.5;
    }
    ul {
      text-align: center;
      li {
        cursor: pointer;
        margin-bottom: 15px;
      }
    }
    &:nth-child(2) {
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
  }
}

.promotion {
  background-color: $bg;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  .promotion__text {
    @extend %miniTitle;
  }
}
